body
    {
        background: gray;
        margin: 0 auto;
        padding: 0;
    }

    .container
    {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 75px;
    }
    .container .col-6
    {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
        position: relative;
        margin-bottom: 50px;
        padding: 35px;
    }
    .container .col-6 .col
    {
        border-left: 2px solid #fff;
        padding: 15px;
        position: relative;
        min-height: 45px;
        height: 100%;
        max-height: 45px;
        width: 100%;
        text-align: center;
    }
    .container .col-6 .grids
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;

    }
    .container .col-6 .grids .col:after
    {
        content: "";
        height: 2px;
        width: 100%;
        background: #fff;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container .col-6 .grids:last-child .col:after
    {
        content: "";
        display: none;
    }
    .container .col-6 .col:last-child
    {
        border-right: 2px solid #fff;
    }
    p
    {
        color: #fff;
    }
    @media only screen and (max-width: 767px)
    {
        .container .col-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0px;
        }
    }